@model RegisterVM

<div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form method="post">
                                <div class="form-group row">
                                    <div class="col-sm-12 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" name="Name" id="exampleFirstName"
                                            placeholder="First Name">
                                            
                                    @Html.ValidationMessageFor(m => m.Name)
                                    </div>
                                   
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" name="Email" id="exampleInputEmail"
                                        placeholder="Email Address">
                                        
                                    @Html.ValidationMessageFor(m => m.Email)
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user"
                                            id="exampleInputPassword" name="Password" placeholder="Password">
                                    @Html.ValidationMessageFor(m => m.Password)
                                    </div>


                                    
                                </div>
                                
                                <button type="submit" class="btn btn-primary btn-user btn-block">  Register Account</button>
                                <hr>
                                

                            </form>
                            
                            
                            <div class="text-center">
                                <a class="small" href="/auth/login">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
